.education-list {
  list-style-type: none;
  padding-left: 0;
  padding-top: 0;
}

li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.divider {
  margin-top: 20px;
  height: 2px;
  width: 325px;
  background-color: rgb(17, 24, 31);
}
